$primary-color: #222;
$secondary-color: #fff;



//navbar colors//
$nav-bar-primary-color:$primary-color;
$nav-bar-secondary-color: lighten($primary-color, 10%);
$nav-bar-text-color: $secondary-color;



@import "scss/navBar.scss";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: lighten($primary-color, 10%);
    color: $secondary-color;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;}
    
    #section-b img {
        display: block;
        width: 100%;
        height: auto;}
      
    h1 {
    display: none;
    visibility: hidden;}

    h2 {
    margin: 0;
    padding: 1em 0;}

    p {
    margin: 0;}

    .btn {
    /*display: inline-block;*/
    background: lighten($primary-color, 10%);
    color: $secondary-color;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid lighten($primary-color, 10%);
    margin: 1em;
    width: calc(100% - 2em);}

    .btn:hover {
    background: darken($secondary-color , 40%);
    color: $primary-color;}
    #showcase {
        min-height: 450px;
        color: $secondary-color;
        text-align: center;
        .bg-image {
            position: absolute;
            top: 3.5em;
            background: lighten($primary-color, 10%) url("../img/header-image-compressor.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 450px;
            z-index: -1;
            opacity: 0.8;
            background-size: 1200px;}
        h1 {
            padding-top: 100px;
            padding-bottom: 0;}
        .content-wrap, #section-a .content-wrap{
            padding: 0 1.5em;}}
      
    #showcase-sub {
        min-height: 275px;
        color: $secondary-color;
        text-align: center;
        .bg-image {
            position: absolute;
            top: 3.5em;
            background: $primary-color url("../img/header-image-compressor.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 275px;
            z-index: -1;
            opacity: 0.8;
            background-size: 1200px;}}
    
//Section A//
    #section-a , #section-a-sub{
        background: $secondary-color;
        color: $primary-color;
        padding-bottom: 1em;
        margin: auto;}

//Section B//        
    #section-b, #section-b-sub {
        padding-top: 1em;
        background-color: $primary-color;
        margin: auto;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;}

        li {
            background: $secondary-color;
            color: $primary-color;
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;}
        
        ul:nth-child(2) {
            margin-bottom: 0;
            li:nth-child(3){
                margin-bottom: 0;}}}
            
        .card {
            flex: 1 0 auto;
            width: 100%}
        
        .card-content {
            padding: 0 0.5em 0 0.5em;}
        
        .attachedDocContainer {
            text-align: right;
            width: 100%;
            line-height: 0;}
        
        .attachedDoc {
            padding: 1em 1em 1em 1em;
            margin-left: auto;
            margin-right: 0;}

//Section C//
        #section-c {
            background: $secondary-color;
            color: $primary-color;
            padding: 2em;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        li {
            margin-bottom: 1em;
            background: $secondary-color;
            color: $primary-color;
            display: flex;
            flex-direction: column;
        
        &:nth-child(2) {
            text-align: left;
        }}}}

//Section D//
        #section-d {
            color: #2690d4;
            margin: auto;
            background-color: $primary-color;
            padding: 0;
            max-width: 1200px;
            overflow: hidden;

            .box {
                padding: 1em;
                color: $secondary-color;
                
                &:first-child {
                    background: #2690d4;
                    text-align: left;}}
        
            a {
                color: $secondary-color;

                &:link #contactEmail {
                color: $secondary-color}
            
                &:hover #contactEmail, &:visited #contactEmail {
                    color: darken($secondary-color, 20%);}}
            ul {
                list-style: none;
                padding: 0;
            }
            li {
                background: $secondary-color;
                color: $primary-color;
                vertical-align: text-top;

                &:nth-child(2) {
                    padding: 0;}}
            h4 {
                margin: 0;
            }
            .footer-card {
                padding: 0em;
                align-content: center;
                background: #2690d4;
                color: $secondary-color;
                .footer-card-content {
                    text-align: left;
                    display: inline-block;
                    padding: 1em;}}}

//Main Footer//
    #main-footer {
        padding: 1em;
        background: $primary-color;
        color: $secondary-color;
        margin: auto;
        max-width: calc(1200px - 2em);

        div {
            text-align: center;
            align-content: center;
            margin: auto;}
        a {
            color: #2690d4;
            text-decoration: none;}
        .footer-img {
            margin: auto;
            max-width: 250px;}
        .parisotdev {
            padding-top: 1em;
            padding-bottom: 2em;}
        }
    @media (min-width: 700px) {
        .grid {
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
          }
        #showcase .bg-image {
            top: 5.5em;
          }
         #section-a {
              .content-text {
                columns: 2;
                column-gap: 2em;}
                p {
                    padding-top: 0;}}
          
        .content-wrap, #section-b ul, #section-b-sub ul, #section-d ul {
            grid-column: 2/4;
          }
          #section-b ul, #section-d ul, #section-b-sub ul {
            display: flex;
            justify-content: space-around;
          }
          #section-b ul li {
            width: 31.8%;
            margin-bottom: 0;
          }
          /* CSS for sub pages*/
          #section-b-sub li {
            width: 98.5%;
            margin-bottom: 0;
          }
          #section-d li {
            width: 48.5%;
          }
          #section-b ul:first-child {
            padding: 0 0 1em;
          }
          #main-footer div {
            grid-column: 2/4;
          }
          .parisotdev {
            padding-bottom: 1em;
          }
    }
