$primary-color: #666;

//navbar colors//
$nav-bar-primary-color: #222;
$nav-bar-secondary-color: #444;
$nav-bar-text-color: #fff;


@import "scss/navBar.scss";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}